%h2 ¿Por qué debo escribir este código?
%p Al tener que introducir la palabra que aparece en el recuadro, nos estará ayudando a evitar los registros automatizados. El fin de este proceso es reducir la sobrecarga del sistema y mejorar el rendimiento de los diferentes servicios de Mi habitaclick!.
%p Si no ve la imagen (el recuadro), asegúrese de que su navegador esté configurado para visualizar imágenes e inténtelo de nuevo. Si no entiende bien la palabra, intente reproducirla de todas formas. Aunque lo introduzca mal, tendrá otra oportunidad de introducir otra palabra en la siguiente página.