<!DOCTYPE html>

%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title habitaclick.com
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.2.6.pack.js", :type => "text/javascript"}
    %script{:src => "js/jquery.idTabs.min.js", :type => "text/javascript"}
    %script{:src => "js/facebox.js", :type => "text/javascript"}
    %script{:src => "js/hc.js", :type => "text/javascript"}
  %body
    #container.wrap
      / header
      #header
        / topMenu
        #topMenu
          %ul
            %li
              %a{:href => "registro.html", :title => "Regístrate"} Regístrate
            %li
              %a{:href => "contrasena.html", :title => "¿Olvidaste tu contraseña?"} ¿Olvidaste tu contraseña?
            %li
              %a{:href => "login.html", :rel => "facebox", :title => "Ingresar"} Ingresar
        / /topMenu
        #mainMenu
          %ul
            %li
              %a{:href => "home.html", :title => "Inicio"}
                %span Inicio
            %li
              %a{:href => "inmuebles.html", :title => "Inmuebles"}
                %span Inmuebles
            %li
              %a{:href => "publicar.html", :title => "Publicar"}
                %span Publicar
            %li
              %a{:href => "destacados.html", :title => "Destacados"}
                %span Destacados
        %h1
          %a{:href => "home.html", :title => "habitaclick.com"} habitaclick.com
      / /header
      / wrapper
      #wrapper
        %img.floatR{:alt => "", :height => "48", :src => "pix/iface/big_lock.gif", :width => "48"}/
        %h2.pageTitle
          Haz cerrado sesión en
          %strong habitaclick
          %small Las cookies se han eliminado, si deseas volver a ingresar a habitaclick utiliza tu email y contraseña
        #thnks.msg_y
          %p
            Agradecemos tu estadía en
            = succeed "," do
              %strong habitaclick
            siéntete libre de regresar cuando quieras.
          %p
            Recuerda que puedes seguirnos desde cualquier lector de feeds utilizando las urls de RSS en la navegación del portal, así como vía email.
            = succeed "No" do
              %br/
            te olvides de visitar nuestro
            %a{:href => "#"} blog
          %p Staff Habitaclick.
      / wrapper
      .push
    #footer.foot
      .wrap
        / footer right
        .floatR
          %a#aUp{:href => "#top", :title => "Subir"} Subir
          %a#logoFoot{:href => "#", :title => "Volver a la portada de habitaclick"} habitaclick
          %strong
            Copyright © 2008
            %br/
            GlobexCorporaciones.
        / /footer right
        / footer left
        .floatL
          .footSec
            %h3 Usuarios
            %ul
              %li
                %a{:href => "#", :title => "Inicio"} Inicio
              %li
                %a{:href => "#", :title => "Ventas"} Ventas
              %li
                %a{:href => "#", :title => "Rentas"} Rentas
              %li
                %a{:href => "#", :title => "Mi Habitaclick"} Mi Habitaclick
              %li
                %a{:href => "#", :title => "Ayuda"} Ayuda
              %li
                %a{:href => "#", :title => "Políticas de Privacidad"} Políticas de Privacidad
          .footSec
            %h3 Habitaclick
            %ul
              %li
                %a{:href => "#", :title => "Acerca de"} Acerca de
              %li
                %a{:href => "#", :title => "Contacto"} Contacto
              %li
                %a{:href => "#", :title => "Inmobiliarias"} Inmobiliarias
              %li
                %a{:href => "#", :title => "Términos"} Términos
              %li
                %a{:href => "#", :title => "Feedback"} Feedback
              %li
                %a{:href => "#", :title => "Publicidad"} Publicidad
              %li
                %a{:href => "#", :title => "Empleos"} Empleos
        / /footer left