<!DOCTYPE html>

%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title habitaclick.com
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.2.6.pack.js", :type => "text/javascript"}
    %script{:src => "js/facebox.js", :type => "text/javascript"}
    %script{:src => "js/jquery.idTabs.min.js", :type => "text/javascript"}
    %script{:src => "js/hc.js", :type => "text/javascript"}
  %body
    #container.wrap
      / header
      #header
        / topMenu
        #topMenu
          %ul
            %li
              Bienvenido:
              %strong Mauricio
            %li
              %a{:href => "mihabitaclick.html", :title => "Ir a mi habitaclick"} Ir a mi habitaclick
            %li
              %a{:href => "logout.html", :title => "Salir de esta cuenta"} Salir de esta cuenta
        / /topMenu
        #mainMenu
          %ul
            %li
              %a{:href => "home.html", :title => "Inicio"}
                %span Inicio
            %li
              %a{:href => "inmuebles.html", :title => "Inmuebles"}
                %span Inmuebles
            %li
              %a{:href => "publicar.html", :title => "Publicar"}
                %span Publicar
            %li
              %a{:href => "destacados.html", :title => "Destacados"}
                %span Destacados
        %h1
          %a{:href => "home.html", :title => "habitaclick.com"} habitaclick.com
      / /header
      / wrapper
      #wrapper
        / path
        %ul#iconOptions
          %li.iconAddProperty
            %a{:href => "agregar_inmueble.html"} Agregar inmueble
          %li.iconUpdateProfile.activeOpt
            %a{:href => "#"} Actualizar mi perfil
          %li.iconLogout
            %a{:href => "#"} Salir de esta cuenta
        .path
          %a{:href => "#", :title => ""} Inicio
          \»
          %a{:href => "mihabitaclick.html"} Mi habitaclick
          \» Nombre de usuario
        / / path
        / content DASH
        #contentDash
          .avatar
            %a{:href => "perfil.html", :title => "Cambiar mi imagen para mostrar"}
              %img{:alt => "Nombre de usuario", :height => "48", :src => "pix/iface/small_default_photo.gif", :width => "48"}/
          %h2
            %a{:href => "mihabitaclick.html"} Mi habitaclick
            %small Editar los datos de mi habitaclick
          / split DASH
          #splitDash.split
            / LEFT
            #profile_details.floatL
              / form update profile
              %h2.pageTitle Actualizar mi perfil
              %form#profileForm.formsprofile{:action => "", :method => "post", :name => "profileForm"}
                .profileForm_L
                  %fieldset
                    %legend Datos Personales
                    %p
                      %label{:for => "name"}
                        Nombre
                        %small (requerido)
                      %input#name{:name => "name", :type => "text", :value => "Mauricio"}/
                    %p
                      %label{:for => "lastname"}
                        Apellidos
                        %small (requerido)
                      %input#lastname{:name => "lastname", :type => "text", :value => "Caballero"}/
                    %p
                      %label{:for => "email"}
                        Email
                        %small (requerido)
                      %input#email{:name => "email", :type => "text", :value => "mauricio@spiga.com.mx"}/
                  %fieldset
                    %legend Actualizar contraseña
                    %p
                      %label{:for => "pass"} Nueva contraseña
                      %input#pass{:name => "pass", :type => "password"}/
                    %p
                      %label{:for => "pass_confirm"} Confirmar nueva contraseña
                      %input#pass_confirm{:name => "pass_confirm", :type => "password"}/
                  %p
                    %input#btnSave.btn{:name => "btnSave", :type => "submit", :value => "Guardar cambios"}/
                .profileForm_R
                  %p
                    %a{:href => "#"}
                      %img{:alt => "Perfil", :height => "200", :src => "pix/iface/big_default_photo.jpg", :width => "150"}/
                  %p
                    %input#btnUpdate.btn{:name => "btnUpdate", :type => "submit", :value => "Cambiar imagen"}/
            / / LEFT
            / RIGHT
            .floatR
              %p
                %img{:alt => "160x600", :height => "600", :src => "pix/temp/160x600.gif", :width => "160"}/
            / / RIGHT
          / / split DASH
        / /content DASH
      / wrapper
      %br.clear/
      .push
    #footer.foot
      .wrap
        / footer right
        .floatR
          %a#aUp{:href => "#top", :title => "Subir"} Subir
          %a#logoFoot{:href => "#", :title => "Volver a la portada de habitaclick"} habitaclick
          %strong
            Copyright © 2008
            %br/
            GlobexCorporaciones.
        / /footer right
        / footer left
        .floatL
          .footSec
            %h3 Usuarios
            %ul
              %li
                %a{:href => "#", :title => "Inicio"} Inicio
              %li
                %a{:href => "#", :title => "Ventas"} Ventas
              %li
                %a{:href => "#", :title => "Rentas"} Rentas
              %li
                %a{:href => "#", :title => "Mi Habitaclick"} Mi Habitaclick
              %li
                %a{:href => "#", :title => "Ayuda"} Ayuda
              %li
                %a{:href => "#", :title => "Políticas de Privacidad"} Políticas de Privacidad
          .footSec
            %h3 Habitaclick
            %ul
              %li
                %a{:href => "#", :title => "Acerca de"} Acerca de
              %li
                %a{:href => "#", :title => "Contacto"} Contacto
              %li
                %a{:href => "#", :title => "Inmobiliarias"} Inmobiliarias
              %li
                %a{:href => "#", :title => "Términos"} Términos
              %li
                %a{:href => "#", :title => "Feedback"} Feedback
              %li
                %a{:href => "#", :title => "Publicidad"} Publicidad
              %li
                %a{:href => "#", :title => "Empleos"} Empleos
        / /footer left