<!DOCTYPE html>

%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title habitaclick.com
    %link{:href => "stylesheets/screen.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/jquery-1.2.6.pack.js", :type => "text/javascript"}
    %script{:src => "js/jquery.idTabs.min.js", :type => "text/javascript"}
    %script{:src => "js/facebox.js", :type => "text/javascript"}
    %script{:src => "js/hc.js", :type => "text/javascript"}
  %body
    #container.wrap
      / header
      #header
        / topMenu
        #topMenu
          %ul
            %li.topCurrent
              %a{:href => "registro.html", :title => "Regístrate"} Regístrate
            %li
              %a{:href => "contrasena.html", :title => "¿Olvidaste tu contraseña?"} ¿Olvidaste tu contraseña?
            %li
              %a{:href => "login.html", :rel => "facebox", :title => "Ingresar"} Ingresar
        / /topMenu
        #mainMenu
          %ul
            %li.current
              %a{:href => "home.html", :title => "Inicio"}
                %span Inicio
            %li
              %a{:href => "inmuebles.html", :title => "Inmuebles"}
                %span Inmuebles
            %li
              %a{:href => "publicar.html", :title => "Publicar"}
                %span Publicar
            %li
              %a{:href => "destacados.html", :title => "Destacados"}
                %span Destacados
        %h1
          %a{:href => "home.html", :title => "habitaclick.com"} habitaclick.com
      / /header
      / wrapper
      #wrapper
        %h2.pageTitle
          Crea tu cuenta
          %strong gratis
          en habitaclick
        #stuff.msg_y
          %h3 Beneficios de registrarse en habitaclick
          %ul
            %li Guarda inmuebles de tu interés
            %li Publica imuebles (hasta 4 de manera gratuita)
            %li Haz preguntas sobre un inmueble de su interés
            %li Recibe alertas cuando cambie el precio o status de un inmueble
            %li Y mucho más....
          %a#taketour{:href => "#", :title => "Toma un tour por habitaclick »"} Toma un tour por habitaclick »
        %form#registerform{:action => "", :method => "post", :name => "registerform"}
          .msg.error
            El email:
            %strong email@mail.com
            ya está siendo utilizado
          %p.formError
            %label{:for => "email"} E-mail
            %input#email{:name => "email", :type => "text"}/
            %small Este será tu nombre de usuario
          %p
            %label{:for => "pass"} Contraseña
            %input#pass{:name => "pass", :type => "password"}/
          %p
            %label{:for => "pass_confirm"} Confirmar contraseña
            %input#pass_confirm{:name => "pass_confirm", :type => "password"}/
          %p.checkboxes
            %input#check_updates{:name => "check_updates", :type => "checkbox"}/
            %label{:for => "check_updates"} Si, por favor mantenganme informado sobre noticias y novedades.
            %input#check_terms{:name => "check_terms", :type => "checkbox"}/
            %label{:for => "check_terms"}
              Estoy deacuerdo con los
              %a{:href => "#", :title => "términos de uso"} términos de uso
              y
              = succeed "." do
                %a{:href => "#", :title => "políticas de privacidad"} políticas de privacidad
          %p.center
            %input#btnRegister.btn{:name => "btnRegister", :type => "submit", :value => "Registrarme ahora!"}/
      / wrapper
      .push
    #footer.foot
      .wrap
        / footer right
        .floatR
          %a#aUp{:href => "#top", :title => "Subir"} Subir
          %a#logoFoot{:href => "#", :title => "Volver a la portada de habitaclick"} habitaclick
          %strong
            Copyright © 2008
            %br/
            GlobexCorporaciones.
        / /footer right
        / footer left
        .floatL
          .footSec
            %h3 Usuarios
            %ul
              %li
                %a{:href => "#", :title => "Inicio"} Inicio
              %li
                %a{:href => "#", :title => "Ventas"} Ventas
              %li
                %a{:href => "#", :title => "Rentas"} Rentas
              %li
                %a{:href => "#", :title => "Mi Habitaclick"} Mi Habitaclick
              %li
                %a{:href => "#", :title => "Ayuda"} Ayuda
              %li
                %a{:href => "#", :title => "Políticas de Privacidad"} Políticas de Privacidad
          .footSec
            %h3 Habitaclick
            %ul
              %li
                %a{:href => "#", :title => "Acerca de"} Acerca de
              %li
                %a{:href => "#", :title => "Contacto"} Contacto
              %li
                %a{:href => "#", :title => "Inmobiliarias"} Inmobiliarias
              %li
                %a{:href => "#", :title => "Términos"} Términos
              %li
                %a{:href => "#", :title => "Feedback"} Feedback
              %li
                %a{:href => "#", :title => "Publicidad"} Publicidad
              %li
                %a{:href => "#", :title => "Empleos"} Empleos
        / /footer left