/* line 3, ../sass/constant.scss */
* {
  margin: 0;
}

/* line 6, ../sass/constant.scss */
html, body {
  height: 100%;
}

/* line 10, ../sass/constant.scss */
body {
  background: url(../pix/constant/webBg.gif) 0 0 repeat-x;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  font-size: 12px;
  text-align: center;
  filter: none;
}

/* line 19, ../sass/constant.scss */
#container {
  width: 980px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  /* the bottom margin is the negative value of the footer's height */
  text-align: left;
}

/* line 27, ../sass/constant.scss */
#push {
  height: 75px;
  /* .push must be the same height as .footer */
}

/* line 36, ../sass/constant.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/constant.scss */
a {
  outline: none;
  text-decoration: none;
  font-weight: bold;
}

/* line 39, ../sass/constant.scss */
a:link,
a:visited {
  color: #2B8DBE;
}

/* line 42, ../sass/constant.scss */
a:hover {
  color: #f54545;
}

/* line 45, ../sass/constant.scss */
.floatL,
.alignleft,
.imageLeft {
  float: left;
}

/* line 48, ../sass/constant.scss */
.floatR,
.alignright,
.imageRight {
  float: right;
}

/* line 49, ../sass/constant.scss */
.center {
  text-align: center;
}

/* line 50, ../sass/constant.scss */
.right {
  text-align: right;
}

/* line 51, ../sass/constant.scss */
.clear {
  clear: both;
}

/* line 52, ../sass/constant.scss */
p {
  line-height: 180%;
  margin: 0 0 10px 0;
}

/* line 55, ../sass/constant.scss */
.split7030,
.split3070,
#split50 {
  overflow: auto;
}

/* line 57, ../sass/constant.scss */
#split50 .floatL,
#split50 .floatR {
  width: 49%;
}

/* line 58, ../sass/constant.scss */
.split7030 .floatL {
  width: 69%;
}

/* line 59, ../sass/constant.scss */
.split7030 .floatR {
  width: 29%;
}

/* line 61, ../sass/constant.scss */
form {
  margin: 0;
}

/* line 65, ../sass/constant.scss */
h3 {
  font-size: 14px;
  text-transform: uppercase;
}

/* line 69, ../sass/constant.scss */
#padd5 {
  padding: 5px;
}

/* line 70, ../sass/constant.scss */
.padd10 {
  padding: 10px;
}

/* line 71, ../sass/constant.scss */
.mar10 {
  margin: 10px 0;
}

/* line 72, ../sass/constant.scss */
.mar5 {
  margin: 5px 0;
}

/* line 73, ../sass/constant.scss */
a img {
  border: none;
}

/* HEADER */
/* line 75, ../sass/constant.scss */
#header {
  position: relative;
  margin-bottom: 25px;
  _width: auto;
  _height: 96px;
}

/* line 82, ../sass/constant.scss */
#topMenu,
#topMenu ul {
  background-image: url(../pix/constant/topMenuBg.gif);
  background-repeat: no-repeat;
  text-align: center;
  color: #FFF;
}

/* line 88, ../sass/constant.scss */
#topMenu {
  background-position: 0 0;
  float: right;
  min-width: 360px;
  line-height: 38px;
  font-size: 11px;
}

/* line 95, ../sass/constant.scss */
#topMenu ul {
  background-position: 100% 100%;
  padding: 0 10px;
}

/* line 99, ../sass/constant.scss */
#topMenu ul li {
  display: inline;
  padding: 0 5px;
  border-right: 1px solid #FFF;
}

/* line 105, ../sass/constant.scss */
#topMenu ul li a:link,
#topMenu ul li a:visited {
  color: #FFF;
}

/* line 106, ../sass/constant.scss */
#topMenu ul li a:hover {
  color: #003366;
}

/* line 109, ../sass/constant.scss */
#topMenu ul li.topCurrent a:link,
#topMenu ul li.topCurrent a:visited {
  text-decoration: underline;
}

/* line 110, ../sass/constant.scss */
#topMenu ul li.topCurrent a:hover {
  text-decoration: none;
}

/* line 113, ../sass/constant.scss */
h1,
h1 a {
  margin: 0;
  padding: 0;
  display: block;
  width: 173px;
  height: 96px;
  background-position: 0 0;
  background-repeat: no-repeat;
  text-indent: -9999em;
}

/* line 123, ../sass/constant.scss */
h1 a {
  background-image: url(../pix/constant/logo.gif);
}

/* line 127, ../sass/constant.scss */
#mainMenu {
  float: right;
  position: absolute;
  bottom: 0;
  left: 200px;
  font-size: 96%;
  line-height: 1.5;
}

/* line 135, ../sass/constant.scss */
#mainMenu ul {
  list-style: none;
  margin: 0;
  padding: 33px 10px 0 0;
}

/* line 140, ../sass/constant.scss */
#mainMenu li {
  display: inline;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 146, ../sass/constant.scss */
#mainMenu ul li a {
  float: left;
  margin: 0 2px;
  padding: 0 0 0 4px;
  text-decoration: none;
}

/* line 152, ../sass/constant.scss */
#mainMenu ul li a span {
  background: url(../pix/constant/arrowUp.gif) no-repeat center -18px;
  color: #3f281b;
  display: block;
  float: left;
  padding: 5px 25px 4px 25px;
  cursor: pointer;
}

/* Small hack for IE5-Mac \*/
/* line 161, ../sass/constant.scss */
#mainMenu a span {
  float: none;
}

/* End IE5-Mac hack */
/* line 163, ../sass/constant.scss */
#mainMenu a:hover span {
  color: #591333;
}

/* line 168, ../sass/constant.scss */
#mainMenu a:hover span {
  background-position: center bottom;
}

/* line 171, ../sass/constant.scss */
#mainMenu .current a {
  background: url(../pix/constant/left.gif) no-repeat left top;
  background-position: 0% -42px;
  color: #FFF;
}

/* line 176, ../sass/constant.scss */
#mainMenu .current a span {
  background: url(../pix/constant/right.gif) no-repeat right top;
  background-position: 100% -42px;
  color: #FFF;
}

/* line 182, ../sass/constant.scss */
#mainMenu .current a:hover span {
  color: #FFF;
}

/* line 185, ../sass/constant.scss */
#mainMenu .current a:hover {
  background-position: 0% 0px;
}

/* line 188, ../sass/constant.scss */
#mainMenu .current a:hover span {
  background-position: 100% 0px;
}

/* FOOTER */
/* line 193, ../sass/constant.scss */
#footer {
  background-color: #483700;
  border-top: 5px solid #7a6626;
  height: 75px;
  color: #CCC;
}

/* line 199, ../sass/constant.scss */
#wrap {
  width: 980px;
  margin: 0 auto;
}

/* line 204, ../sass/constant.scss */
#footer a:link,
#footer a:visited {
  color: #FFF;
}

/* line 205, ../sass/constant.scss */
#footer a:hover {
  color: #FFFF66;
}

/* line 208, ../sass/constant.scss */
#footer .floatL {
  width: 750px;
}
/* line 210, ../sass/constant.scss */
#footer .floatL div {
  width: 648px;
  float: left;
  padding: 10px;
  font-size: 12px;
  position: relative;
}
/* line 217, ../sass/constant.scss */
#footer .floatL div p {
  _position: relative;
}

/* line 223, ../sass/constant.scss */
#footer .floatR {
  width: 150px;
  font-size: 11px;
}

/* line 227, ../sass/constant.scss */
#footer .floatR strong {
  margin: 5px 0 0 0;
  display: block;
}

/* line 231, ../sass/constant.scss */
#footer h3 {
  width: 90px;
  display: block;
  float: left;
  text-align: right;
  color: #e2af60;
  margin: 3px 10px 0 0;
  font-size: 11px;
  text-transform: uppercase;
}

/* line 241, ../sass/constant.scss */
#footer ul li {
  float: left;
  padding: 0 8px;
  border-right: 1px solid #FFF;
}

/* line 248, ../sass/constant.scss */
#footer a#aUp,
#footer a#logoFoot {
  display: block;
  text-indent: -9999em;
  background-repeat: no-repeat;
}

/* line 253, ../sass/constant.scss */
#footer a#aUp {
  float: right;
  width: 20px;
  height: 18px;
  background-image: url(../pix/constant/up.gif);
  margin: 8px 18px 0 0;
  _margin: 8px 10px 0 0;
}

/* line 262, ../sass/constant.scss */
#footer a#aUp:link,
#footer a#aUp:visited {
  background-position: 0 0;
}

/* line 263, ../sass/constant.scss */
#footer a#aUp:hover {
  background-position: 0 -18px;
}

/* line 265, ../sass/constant.scss */
#footer a#logoFoot {
  background-image: url(../pix/constant/logoFoot.gif);
  width: 93px;
  height: 30px;
}

/* line 274, ../sass/constant.scss */
#colL,
#colM,
#colR {
  float: left;
}

/* line 275, ../sass/constant.scss */
.split {
  overflow: auto;
}

/* line 276, ../sass/constant.scss */
.sidebar {
  border: 1px solid #CCC;
  margin: 0 0 10px 0;
}

/* CONTENT 3 COLS */
/* line 278, ../sass/constant.scss */
#content3cols {
  margin: 0 0 10px 0;
  position: relative;
  overflow: auto;
}

/* line 283, ../sass/constant.scss */
#content3cols #colL {
  width: 180px;
}

/* line 286, ../sass/constant.scss */
#content3cols #colM {
  width: 468px;
  margin: 0 10px;
}

/* line 290, ../sass/constant.scss */
.move {
  margin: 270px 0 0 0!important;
}

/* line 293, ../sass/constant.scss */
.move1 {
  margin: 510px 0 0 0!important;
}

/* line 301, ../sass/constant.scss */
#content3cols #colR {
  width: 310px;
}

/* CONTENT 2 COLS */
/* line 305, ../sass/constant.scss */
#content2cols {
  margin: 0 0 10px 0;
}

/* line 308, ../sass/constant.scss */
#content2cols #colL {
  width: 180px;
}

/* line 311, ../sass/constant.scss */
#content2cols #colR {
  width: 788px;
  margin: 0 0 0 10px;
}

/* MENSAJES*/
/* line 319, ../sass/constant.scss */
.msg {
  border-width: 1px;
  border-style: solid;
  padding: 5px 5px 5px 25px;
  background-repeat: no-repeat;
  background-position: 5px;
  font-size: 11px;
  margin: 10px 0;
}

/* line 330, ../sass/constant.scss */
.error,
.exclamation {
  background-color: #ffebe8;
  background-image: url(../pix/icons/error.gif);
  border-color: #ea6c59;
}

/* line 335, ../sass/constant.scss */
.error {
  background-image: url(../pix/icons/error.gif);
}

/* line 338, ../sass/constant.scss */
.exclamation {
  background-image: url(../pix/icons/exclamation.gif);
}

/* line 343, ../sass/constant.scss */
.help,
.info {
  background-color: #eff2f5;
  border-color: #cfe1e9;
}

/* line 347, ../sass/constant.scss */
.help {
  background-image: url(../pix/icons/help.gif);
}

/* line 350, ../sass/constant.scss */
.info {
  background-image: url(../pix/icons/info.gif);
}

/* line 355, ../sass/constant.scss */
.warning,
.alert {
  background-color: #f9f9c9;
  border-color: #FFCC66;
  background-image: url(../pix/icons/warning.gif);
}

/* line 361, ../sass/constant.scss */
.accept {
  background-color: #e2efc4;
  border-color: #a5bb72;
  background-image: url(../pix/icons/accept.gif);
}

/* line 367, ../sass/constant.scss */
.tmb {
  position: relative;
  width: 87px;
  height: 87px;
}

/* line 372, ../sass/constant.scss */
.iconVideo {
  position: absolute;
  left: 65%;
  top: 65%;
  _left: 50%;
  _top: 55%;
  width: 20px;
  height: 18px;
  display: block;
  text-indent: -9999em;
  background-image: url(../pix/icons/video.gif);
}

/* line 385, ../sass/constant.scss */
a.iconVideo:link,
a.iconVideo:visited {
  background-position: 0 0;
}

/* line 386, ../sass/constant.scss */
a.iconVideo:hover {
  background-position: 0 -18px;
}

/* line 390, ../sass/constant.scss */
#sec_tabs {
  width: 648px;
  float: left;
  padding: 10px;
  background-color: #ebf6ff;
  font-size: 12px;
  position: relative;
}
/* line 397, ../sass/constant.scss */
#sec_tabs p {
  _position: relative;
}
/* line 400, ../sass/constant.scss */
#sec_tabs img {
  float: right;
}

/* line 404, ../sass/constant.scss */
#split_7030 {
  overflow: auto;
}
/* line 406, ../sass/constant.scss */
#split_7030 .floatL {
  width: 69%;
}
/* line 409, ../sass/constant.scss */
#split_7030 .floatR {
  width: 29%;
}

/* line 415, ../sass/constant.scss */
#img_loading img {
  float: right;
  margin: 5px 0 0 0;
}

/* line 422, ../sass/constant.scss */
.simple_overlay {
  /* must be initially hidden */
  display: none;
  /* place overlay on top of other elements */
  z-index: 10000;
  /* styling */
  background-color: #333;
  width: 700px;
  min-height: 200px;
  border: 1px solid #666;
  /* CSS3 styling for latest browsers */
  -moz-box-shadow: 0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}

/* close button positioned on upper right corner */
/* line 443, ../sass/constant.scss */
.close {
  position: absolute;
  right: -15px;
  top: -15px;
  cursor: pointer;
  height: 35px;
  width: 35px;
}
/* line 450, ../sass/constant.scss */
.close img {
  border: none;
}

/* line 456, ../sass/constant.scss */
#triggers {
  text-align: center;
}

/* line 460, ../sass/constant.scss */
#triggers img {
  cursor: pointer;
  margin: 0 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
